/* shared styles */
body {
    font-family: 'Lato';
    font-family: 'Open Sans', sans-serif;
}

main section {
    margin-top: 150px;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.span {
    color: #E55473;
}

/* header styles */
.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E554731A;
}

.header-description-div {
    max-width: 500px;
    margin-left: 250px;
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
}

.header-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.header-description {
    color: #27272799;
    font-size: 18px;
}

.header-div .header-image {
    width: 400px;
    margin: 50px 250px 0px 100px;
}

/* featured section styles */

.featured-message {
    text-align: center;
    width: 30%;
    margin: auto;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.featured-img-main {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 20px;
}

.featured-img {
    display: block;
    border-radius: 300px 300px 0px 0px;
}

.img-1 {
    background-color: #A7216226;
    width: 320px;
}

.img-2 {
    background-color: #0597A026;
    width: 320px;
}

.img-3 {
    background-color: #477D1126;
    width: 320px;
}

.featured-svg-div {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 135px;
    padding: 20px;
    background: #2727270D;
    width: 65%;
    margin: auto;
}

/* hot deal section styles */
.hot-deal-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hot-deal-title {
    font-size: 40px;
}

.hot-deal-text {
    max-width: 500px;
    margin-left: 250px;
    padding: 0px 10px 10px 10px;
    text-align: center;
}

.hot-deal-div .hot-deal-img {
    width: 300px;
    margin: 50px 400px 0px 10px;
}


/* social media section styles */
.social-media-main {
    text-align: center;
    width: 30%;
    margin: auto;
}

.social-media-title {
    font-size: 40px;
}

.social-media-img {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.social-img {
    width: 250px;
}


/* latest deal section styles */
.latest-deal-main {
    background-image: url('../images/Rectangle-10.png');
    width: 68%;
    margin: auto;
    height: 300px;
}

.latest-deal-text {
    text-align: center;
}

.latest-deal-title {
    font-size: 40px;
    padding-top: 50px;
}

.latest-deal-paragraph {
    font-size: 18px;
    font-weight: 400;
}

.input {
    text-align: center;
    align-items: center;
}

.input input {
    width: 400px;
    border-radius: 5px;
    padding: 17px 35px;
    border: 0;
    font-size: 15px;
}


/* footer section styles */
footer {
    text-align: center;
    background: #111010;
    color: white;
    margin-top: 100px;
    padding: 80px;
}

.footer-div {
    width: 50%;
    margin: auto;
}

.footer-title {
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 800;
}

.footer-paragraph {
    margin-top: 0;
    font-size: 18px;
    font-weight: 400;
}