/* shared styles */
body {
    font-family: 'Lato';
    font-family: 'Open Sans', sans-serif;
}

main section {
    margin-top: 100px;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* ---------------------------------------------------------- */
/* header styles */
.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E554731A;
}

.header-description-div {
    max-width: 500px;
    margin-left: 250px;
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
}

.header-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.header-description {
    color: #27272799;
    font-size: 18px;
}

.header-div .header-image {
    width: 400px;
    margin: 50px 250px 0px 100px;
}

/* featured message & img styles */

.featured-message {
    text-align: center;
    width: 30%;
    margin: auto;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.featured-img-main {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.featured-img {
    display: block;
    border-radius: 300px 300px 0px 0px;
}

.img-1 {
    background-color: #A7216226;
    width: 250px;
}

.img-2 {
    background-color: #0597A026;
    width: 250px;
}

.img-3 {
    background-color: #477D1126;
    width: 250px;
}

/* -------------------------------------------- */
/* hot deal section */
.hot-deal-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hot-deal-text {
    max-width: 500px;
    margin-left: 250px;
    padding: 0px 10px 10px 10px;
    /* margin-top: 0px; */
    text-align: center;
}

.hot-deal-div .hot-deal-img {
    width: 300px;
    margin: 50px 400px 0px 10px;
}

/* ------------------------------------------------------------ */
/* social media section styles */
.social-media-main {
    text-align: center;
    width: 30%;
    margin: auto;
}

.social-media-img {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.social-img {
    width: 250px;
}